In [1]:
import datetime

In [2]:
t = datetime.time(5,25,1)

In [4]:
print(t)

05:25:01

In [10]:
print(datetime.time.min)

00:00:00

In [11]:
today = datetime.date.today()

In [12]:
print(today)

2020-06-05

In [13]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=6, tm_mday=5, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=157, tm_isdst=-1)

In [16]:
d1 = datetime.date(2015,3,11)
print(d1)

2015-03-11

In [17]:
d2 = d1.replace(year=1990)

In [18]:
print(d2)

1990-03-11